:root {
  --color-common: #fff;
  --color-primary: #000;
  --color-secondary: #4c4c4c;
  --color-hint: #5f6367;
  --color-tertiary: #c3c4c6;
  --color-text: var(--color-primary);
  --color-link: #15c;
  --color-link-hover: #1a5fd5;
  --color-link-active: #0b4ab8;
  --color-border: #dadcdf;
}
