:root {
  --color-brand: #2ba1e3;
  --color-common: #fff;
  --color-primary: #000;
  --color-secondary: #4c4c4c;
  --color-hint: #5f6367;
  --color-tertiary: #c3c4c6;
  --color-text: var(--color-primary);
  --color-link: #15c;
  --color-link-hover: #1a5fd5;
  --color-link-active: #0b4ab8;
  --color-success: #188038;
  --color-warning: #ffba00;
  --color-danger: #fe2c25;
  --color-border: #dadcdf;
  --color-section-bg: #f8f9fa;
  --color-panel-bg: #f1f3f4;
  --color-panel-active-bg: #e8eaed;
  --color-active: #1b73e8;
  --color-button-text: #696a6a;
}
