:root {
  --font-small: 12px;
  --font-base: 14px;
  --font-accent: 16px;
  --font-big: 18px;
  --font-large: 24px;
  --font-title: 32px;

  --font-regular: 400;
  --font-semibold: 500;
  --font-bold: 600;

  --font-lh-regular: 1.25;
}
