:root {
  --size-xxs: 8px;
  --size-xs: 12px;
  --size-ss: 14px;
  --size-s: 16px;
  --size-m: 20px;
  --size-l: 24px;
  --size-xl: 32px;
  --size-xxl: 40px;

  --size-panel: 48px;
  --size-article: 680px;
}
