.add {
  --control-color: var(--color-success);

  position: absolute;
  z-index: 10;
  top: calc(100% - 2px);
  left: 0;
  width: 100%;
  height: 4px;
  padding: 0;
  margin: 0;
  border: 0;
  background: var(--control-color);
  box-shadow: 0 1px 1px rgba(#000, 0.3);
  white-space: nowrap;
  opacity: 0;
  cursor: pointer;

  &:hover {
    opacity: 1;

    .label {
      display: flex;
    }
  }
}

.label {
  display: none;
  align-items: center;
  position: absolute;
  top: -8px;
  left: 100%;
  height: 20px;
  padding: 0 var(--size-xs);
  border-radius: 3px;
  background: var(--control-color);
  box-shadow: 2px 2px 2px rgba(#000, 0.3);
  color: var(--color-common);
  font-family: inherit;
  line-height: 1;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: 2px;
    left: -6px;
    border-radius: inherit;
    background: var(--control-color);
    transform: rotate(45deg) scale(0.99);
  }
}
