.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: var(--size-xxl);
}

.title {
  margin: 0;
  color: var(--color-secondary);
  font-family: 'Urbanist', sans-serif;
  font-size: var(--font-title);
  font-weight: 500;
  line-height: 2.25rem;
}

.actions {
  margin-inline-start: var(--size-m);
}
